<header>
  <!-- Navigation -->
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">-->
          <!--<span class="sr-only">Toggle navigation</span>-->
          <!--<span class="icon-bar"></span>-->
          <!--<span class="icon-bar"></span>-->
          <!--<span class="icon-bar"></span>-->
        <!--</button>-->
        <a class="navbar-brand topnav" href="#">{{title}}</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#">About</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
</header>

<main>
<!-- Header -->
<a name="about"></a>
<div class="intro-header">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>{{title}}</h1>
          <h3>Life Coach</h3>
          <hr class="intro-divider">
          <!--<form (ngSubmit)="processForm()" *ngIf="submitted">-->
          <form class="form-inline" action="#" method="post" accept-charset="UTF-8">
            <!--<div class="form-group" [ngClass]="{ 'has-error': name.invalid && name.touched }">-->
            <input name="firstbane" type="text" class="form-control" style="color: black" name="name" required [(ngModel)]="gest.name" #name="ngModel" placeholder="NAME">
            <input name="email" type="email" class="form-control" style="color: black" id="inpEmail" required value
                   placeholder="EMAIL">
            <input type="submit" name="submit-button button" value="Get It Now" class="btn btn-default"
                   id="btnSubmit">
            <!--</div>-->
          </form>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.intro-header -->
</main>
<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-inline">
          <li>
            <a href="#">Home</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#">About</a>
          </li>
        </ul>
        <p class="copyright text-muted small">Copyright &copy; João Feichas 2017. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
